.main-component {
  // background-color: gray;

  // height: 51.61458333vw;

  width: 100%;
  background-image: url(/img/hero-background.png);
  background-repeat: no-repeat;
  background-position: calc(50%);

  @media (min-width: 0px) and (max-width: 1023px) {
    // height: 991px;
    background-color: #e8e4e3;
    height: 214.9333333vw;
    background-size: auto 101.3333333vw;
    background-position-x: 57%;
    background-position-y: 100%;
  }
  @media (min-width: 1024px) and (max-width: 1279px) {
    // background-color: #E8E4E3;
    height: 761px;
    background-size: 108%;
    background-position-x: calc(57% + 57px);
    background-position-y: 50%;
  }
  @media (min-width: 1280px) and (max-width: 1919px) {
    // background-color: #E8E4E3;
    height: 804px;
    background-size: 108%;
    background-position-x: calc(50% + 50px);       
    background-position-y: 50%;
  }
  @media (min-width: 1920px) {
    height: 871px;
    background-position-x: calc(50% + 50px);
    background-position-y: 50%;
  }
}
.main-content-container {
  position: relative;
  display: flex;
}

.header-content-container {
  // background-color: red;
  position: absolute;
  color: #1d1d1d;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 21.35416667vw;
  // bottom: -37.08333333vw;
  // bottom: -81.754%;

  @media (min-width: 0px) and (max-width: 1023px) {
    width: 100%;
    left: 0px;
    top: 29.86666667vw;
    bottom: auto;
    height: auto;
  }
  @media (min-width: 1024px) and (max-width: 1279px) {
    left: 0px;
    // top: 188px;
    width: 473.22px;
    bottom: calc(761px * -0.71745);
  }
  @media (min-width: 1280px) and (max-width: 1919px) {
    left: 0px;
    // top: 209px;
    width: 685.9px;
    // width: 785.9px;
    bottom: calc(804px * -0.71745);
  }
  @media (min-width: 1920px) {
    left: 0px;
    // top: 317px;
    width: 685.9px;
    // width: 785.9px;
    bottom: calc(871px * -0.81745);
  }
  // .header-content {
  .header-content-title {
    color: #ffffff;
    width: 100%;
    font-weight: 700 !important;

    @media (min-width: 0px) and (max-width: 1023px) {
      width: 84.65333333vw;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      font-size: 11.2vw;
      // font-weight: 800;
      line-height: 11.46666667vw;
      // padding: 0px 20px;
    }
    @media (min-width: 1024px) and (max-width: 1279px) {
      font-size: calc(0.88888 * 56px);
      // font-weight: 800;
      // line-height: 58px;
      line-height: calc(0.8888 * 58px);
    }
    @media (min-width: 1280px) and (max-width: 1919px) {
      font-size: calc(0.88888 * 72px);
      // font-weight: 800;
      // line-height: 65px;
      line-height: calc(0.8888 * 65px);
    }
    @media (min-width: 1920px) {
      font-size: calc(0.88888 * 72px);
      line-height: calc(0.8888 * 65px);
    }

    span {
      font-weight: 900 !important;
    }
  }

  .header-content-copy {
    color: #ffffff;
    font-weight: 300 !important;
    letter-spacing: normal;
    @media (min-width: 0px) and (max-width: 1023px) {
      width: 76.736vw;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      font-size: 5.866666667vw;
      // font-weight: 300;
      line-height: 6.666666667vw;
      padding: 9.066666667vw 0px 9.066666667vw 0px;
    }
    @media (min-width: 1024px) and (max-width: 1279px) {
      width: 371.3px;
      font-size: 28px;
      // line-height: 43px;
      font-size: calc(0.9411 * 28px);
      line-height: calc(0.9411 * 43px);
      // padding: 25px 0px 60px 0px;
      padding-top: 25px;
      font-weight: 300;
    }
    @media (min-width: 1280px) and (max-width: 1919px) {
      width: 535.3px;
      font-size: calc(0.9411 * 30px);
      line-height: calc(0.9411 * 43px);
      // padding: 25px 0px 60px 0px;
      padding-top: 25px;
      // font-weight: 300;
    }
    @media (min-width: 1920px) {
      width: 600px;
      font-size: calc(0.9411 * 30px);
      line-height: calc(0.9411 * 43px);
      // padding: 25px 0px 60px 0px;
      padding-top: 25px;
      // font-weight: 300;
    }
  }





  .header-content {
    color: #ffffff;
    font-weight: 600 !important;
letter-spacing: normal;
    @media (min-width: 0px) and (max-width: 1023px) {
      width: 76.736vw;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      font-size: 5.866666667vw;
      // font-weight: 300;
      line-height: 6.666666667vw;
      padding: 9.066666667vw 0px 9.066666667vw 0px;
     
    }
    @media (min-width: 1024px) and (max-width: 1279px) {
      width: 371.3px;
      font-size: 28px;
      // line-height: 43px;
      font-size: calc(0.9411 * 28px);
      line-height: calc(0.9411 * 43px);
      // padding: 25px 0px 60px 0px;
      padding-top: 25px;
      font-weight: 300;
    }
    @media (min-width: 1280px) and (max-width: 1919px) {
      width: 535.3px;
      font-size: calc(0.9411 * 34px);
      line-height: calc(0.9411 * 43px);
       
      padding-top: 15px;
    }
    @media (min-width: 1920px) {
      width: 600px;
      font-size: calc(0.9411 * 34px);
      line-height: calc(0.9411 * 43px);
      // padding: 25px 0px 60px 0px;
      padding-top: 25px;
      // font-weight: 300;
    }
  }

  // }
}

.transparentprocess-content-tabs-tabs {
  display: flex;
  justify-content: flex-start;
  border-bottom: 1px solid #aaaaaa;
  padding-bottom: 10px;
  @media (min-width: 0px) and (max-width: 1023px) {
    width: 76.736vw;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    // padding-bottom: 12px;
  }
  @media (min-width: 1024px) and (max-width: 1280px) {
    width: 381.77px;
    // padding-bottom: 12px;
    padding-top: 60px;
  }
  @media (min-width: 1280px) and (max-width: 1920px) {
    width: 473.53px;
    // padding-bottom: 18px;
    padding-top: 25px;
  }
  @media (min-width: 1920px) {
    width: 577px;
    padding-top: 60px;
    // padding-bottom: 25px;
  }
}
.transparentprocess-content-tabs-tab,
.transparentprocess-content-tabs-tab-selected {
  color: #1d1d1d;
  cursor: pointer;
  font-weight: 300;
  opacity: 0.5;
  @media (min-width: 0px) and (max-width: 1023px) {
    font-size: 4.266666667vw;
    line-height: 5.333333333vw;
  }
  @media (min-width: 1024px) and (max-width: 1280px) {
    font-size: 16px;
    margin-right: 46px;
  }
  @media (min-width: 1280px) and (max-width: 1920px) {
    font-size: 16px;
    margin-right: 54px;
  }
  @media (min-width: 1920px) {
    font-size: 16px;
    margin-right: 63px;
    // font-size: 24px;
  }
  .selected {
    text-decoration: underline;
    text-decoration-color: var(--semperred);
    text-underline-offset: 8px !important;
    color: var(--darktext);
  }
}

.transparentprocess-content-tabs-tab:nth-of-type(4),
.transparentprocess-content-tabs-tab-selected:nth-of-type(4) {
  margin-left: auto;
  margin-right: 0px;
  color: #193a52 !important;
  opacity: 1;
  // text-align: right;
  @media (min-width: 0px) and (max-width: 1023px) {
    margin-left: unset;
    margin-right: unset;
  }
}

.transparentprocess-content-tabs-tab-selected {
  text-decoration: underline;
  text-decoration-color: var(--semperred);
  text-decoration-thickness: 3px;
  color: var(--darktext);
  text-underline-offset: 13px;
  opacity: 1 !important;
  font-weight: 800 !important;

  // @media (min-width: 0px) and (max-width: 768px) {
  //     text-underline-offset: 14px;
  // }
  // @media (min-width: 769px) and (max-width: 1023px) {
  //     text-underline-offset: 14px;
  // }
  // @media (min-width: 1024px) and (max-width: 1280px) {
  //     text-underline-offset: 14px;
  // }
  // @media (min-width: 1280px) and (max-width: 1920px) {
  //     text-underline-offset: 20px;
  // }
  // @media (min-width: 1920px) {
  //     text-underline-offset: 27px;
  // }
}

.transparentprocess-content-tabs-content {
  @media (min-width: 0px) and (max-width: 1023px) {
    padding: 3.666666667vw 0px 0px 0px;
    width: 76.736vw;
    margin-left: auto;
    margin-right: auto;
  }
  @media (min-width: 1024px) and (max-width: 1279px) {
    padding: 20px 0px 0px 0px;
  }
  @media (min-width: 1280px) and (max-width: 1919px) {
    padding: 20px 0px 0px 0px;
  }
  @media (min-width: 1920px) {
    padding: 20px 0px 0px 0px;
  }
}

.transparentprocess-content-tabs-content-item {
  display: flex;
  // box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  @media (min-width: 0px) and (max-width: 1023px) {
    width: 100%;
    height: 14.65333333vw;
  }
  @media (min-width: 1024px) and (max-width: 1279px) {
    width: 381.77px;
    height: 42.95px;
  }
  @media (min-width: 1280px) and (max-width: 1919px) {
    width: 473.53px;
    height: 42px;
  }
  @media (min-width: 1920px) {
    width: 577px;
    height: 54.95px;
  }

  .autocomplete-holder {
    @media (min-width: 0px) and (max-width: 1023px) {
      width: 100%;
    }
  }
  input {
    all: unset;
    box-sizing: border-box !important;
    height: 100% !important;
    background-color: white;
    color: #1d1d1d;
    font-weight: 300;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);

    @media (min-width: 0px) and (max-width: 1023px) {
      width: 100%;
      padding: 0px 5.333333333vw;
      font-size: 3.733333333vw;
    }
    @media (min-width: 1024px) and (max-width: 1279px) {
      // width: 335px !important;
      width: 100%;
      padding: 30px 20px;
      font-size: 16px;
    }
    @media (min-width: 1280px) and (max-width: 1919px) {
      // width: 329px;
      width: 100%;
      padding: 30px 20px;
      font-size: 16px;
    }
    @media (min-width: 1920px) {
      // width: 430px;
      width: 100%;
      padding: 30px 20px;
      font-size: 16px;
    }

    &::placeholder {
      color: #898989;
    }
  }

  .transparentprocess-content-tabs-content-item-button-holder {
    box-sizing: border-box;
    position: relative;

    @media (min-width: 0px) and (max-width: 1023px) {
      width: 14.66666667vw;
      height: 100% !important;
    }
    @media (min-width: 1024px) and (max-width: 1279px) {
      width: 14.66666667vw;
      height: 60px;
    }
    @media (min-width: 1280px) and (max-width: 1919px) {
      width: 145px;
      height: 60px;
    }
    @media (min-width: 1920px) {
      width: 148px;
      height: 60px;
    }

    button {
      all: unset;
      box-sizing: border-box;
      width: 100%;
      height: 100%;
      background-color: var(--semperred);
      color: white;
      font-size: 16px;
      font-weight: 500;
      text-align: center;
      // text-align: 10px;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);

      cursor: pointer;
      img {
        // aspect-ratio: 1/1;
        @media (min-width: 0px) and (max-width: 1023px) {
          // width: 24.83636364%;
          height: 16.8490566%;
        }
        @media (min-width: 1024px) and (max-width: 1279px) {
          // width: 50%;
          max-height: 70%;
        }
        @media (min-width: 1280px) and (max-width: 1919px) {
          max-height: 70%;
        }
        @media (min-width: 1920px) {
          max-height: 70%;
        }
      }
      img.search-image {
        @media (min-width: 0px) and (max-width: 1023px) {
          transform: scale(2);
        }
        @media (min-width: 1024px) and (max-width: 1279px) {
          transform: scale(0.75);
        }
        @media (min-width: 1280px) and (max-width: 1919px) {
          transform: scale(0.75);
        }
        @media (min-width: 1920px) {
          transform: scale(0.75);
        }
      }
      // &::after {
      //     content: '';
      //     background-image: url(/img/button_arrow.svg);
      //     background-repeat: no-repeat;
      //     position: absolute;

      //     @media (min-width: 0px) and (max-width: 1023px)  {
      //         width: 24.83636364%;
      //         height: 16.8490566%;
      //         background-position: center;
      //         transform: translateY(-50%) translateX(-50%);
      //         // right: 15px;
      //         // top: 50%;
      //     }
      //     @media (min-width: 1024px) and (max-width: 1279px) {
      //         width: 100%;
      //         height: 100%;
      //         background-position: center;
      //         transform: scale(2.0) translateY(-25%) translateX(-25%);
      //     }
      //     @media (min-width: 1280px) and (max-width: 1919px) {
      //         width: 13.66px;
      //         height: 8.93px;
      //         right: 10px;
      //         top: 51%;
      //         transform: translateY(-50%);

      //     }
      //     @media (min-width: 1920px) {
      //         width: 13.66px;
      //         height: 8.93px;
      //         right: 15px;
      //         top: 50%;
      //         transform: translateY(-50%);

      //     }

      // }
    }
  }
}
